.contact .contact__options {
    flex: 1;
}

.contact .contact__wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
}

.contact .contact__wrapper .contact__information {
    position: relative;
    flex: 1;
    display: grid;
    place-items: center;
}

.contact .contact__wrapper .contact__information:hover .overlay.o-1 {
    transform: translate(-100px, -50px);
}

.contact .contact__wrapper .contact__information:hover .overlay.o-2 {
    transform: translate(0, 0);
}

.contact .contact__wrapper .contact__information p {
    position: relative;
    padding: 2rem;
    font-size: 1.75rem;
    z-index: 3;
    margin-right: 1rem;
}

.contact .contact__wrapper .contact__information .overlay {
    background: url('../assets/me-3.jpeg');
    width: 80%;
    height: 80%;
    position: absolute;
    filter: brightness(.3);
    background-position: center;
    background-size: cover;
    transition: .25s;
}

.contact .contact__wrapper .contact__information .overlay.o-1 {
    z-index: 1;
}

.contact .contact__wrapper .contact__information .overlay.o-2 {
    transform: translate(-100px, -50px);
}

.contact .contact__wrapper .contact__form {
    flex: 1.25;
}

.options {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.form-group {
    flex-wrap: wrap;
}

.column {
    width: 100%;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-check label {
    position: relative;
    top: 2px;
    cursor: pointer;
}