.contact .contact__options{
    flex: 1;
}

.contact .contact__wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.contact .contact__wrapper ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.contact .contact__form label span{
    background: rgba(251, 130, 0, .75);
    padding: .25rem;
    border-radius: 5px;
    margin-left: .25rem;
}

.contact .contact__wrapper ul li{
    margin: 1rem 0;
    transition: .25s;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: .25rem;
}

.contact .contact__wrapper ul li.active{
    background: rgba(0, 0, 0, .75);

}