.footer {
    text-align: center;
    background: #000;
    padding: 2rem;
}

.footer p {
    background: linear-gradient(90deg, #fa710944, #d65d00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1rem;
}

.footer p span {
    color: #d65d00;
    font-weight: bolder;
}