.project {
    background: rgba(0, 0, 0, 0.55);
}

.project .card {
    border-right: 0;
}

.project h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: .5rem;
}


.project .card,
.project .gallery .card:hover {
    border: unset;
    scale: 1;
}

.project .card,
.project .card .card-body,
.card .card-body ul {
    width: 100%;
}

.project .card,
.project .card .card-body,
.card .card-body ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project .card .card-body .jobdesc ul {
    border-bottom: 1px solid #4f4f4f;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.project .card .card-body .project-list{
    width: 100%;
}

.project .card .card-body .project-list .header{
    display: flex;
    justify-content: center;
    position: relative;
}

.project .card .card-body .project-list .header h3:last-child{
    position: absolute;
    right: 0;
}

.project .card ul li {
    list-style: square;
    margin: 1rem 0;
}

.project .card svg {
    translate: 0 -1px;
}

.project .card h3{
    margin-bottom: 1.25rem;
}